#containment-wrapper {
  position: relative;
  padding: 5px;
  width:200%; height:600px;
  border: 5px solid black;
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  border-radius: 4px;
  transform: translateX(-50%);
  left: 50%;
}

.dnd-draggable {
  width: 160px; min-width: 160px; max-width: 500px;
  height: 80px; min-height: 80px; max-height: 500px;
  float: left;
  text-align: center;
  margin: 0 10px 10px 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #EEEEEE;
  border:2px solid black;;
  cursor: move;
}

.dnd-textbox{
  position: absolute;
  background: transparent;
  display: inline-block;
  width: 80%; height: 70%;
  left:0; right:0; top:0; bottom:0;
  margin:auto;
  background-color: white;
  border: 2px solid #000000;
  border-radius: 5px;
  border-width: thin;
  cursor: text;
  text-align:center;
  resize: none;
  overflow:hidden;
}

.dnd-textbox-student{
  position: absolute;
  background: transparent;
  display: inline-block;
  width: 80%; height: 70%;
  left:0; right:0; top:0; bottom:0;
  margin:auto;
  background-color: white;
  border: 2px solid #000000;
  border-radius: 5px;
  border-width: thin;
  cursor: default;
  text-align:center;
  resize: none;
  overflow:hidden;
}

.dnd-btn-del {
  position: absolute;
  background-color: white;
  width: auto; height: auto;
  margin:0; padding:0;
  top: -10px; right: -10px;
  border: 1px solid #000000;
  cursor: default;
}

.dnd-btn-del:hover {
  background-color: #A9A9A9
}

.dnd-btn-param {
  position: absolute;
  background-color: white;
  width: auto; height: auto;
  margin: 0; padding: 0;
  top: 15px; right: -10px;
  border: 1px solid #000000;
  cursor: default;
}

.dnd-btn-param:hover {
  background-color: #A9A9A9
}

.dnd-display-order {
  position: relative;
  top: -10px; left: -10px;
  width: 20px; height: 20px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}

/* Dot shape origin */
/*.dnd-display-origin {
    position: absolute;
    top: -10px; left: -10px;
    width: 20px; height: 20px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}*/

/*Triangle shape origin*/
/*.dnd-display-origin {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 0px;
  width: 0px;
  border-top: 15px solid #000000;
  border-right: 15px solid transparent;
  display: inline-block;
}*/

/*set wrapper*/
#left-set{
  float: left;
  width: 32%;
  min-height: 18em;
  padding: 1%;
  background-color: #FFA726;
  border-radius:10px;
  height: 100%;
 }

#right-set{
  float: right;
  width: 32%;
  min-height: 18em;
  padding: 1%;
  background-color: #42A5F5;
  border-radius:10px;
  height: 100%;
}

#upper-right-set{
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
  width: 32%;
  padding: 1%;
  background-color: #42A5F5;
  border-radius:10px;
  height: 43%;
}

#down-right-set{
  position: absolute;
  bottom: 5px;
  right: 5px;
  float: right;
  width: 32%;
  padding: 1%;
  background-color: #5C6BC0;
  border-radius:10px;
  height: 43%;
}

#upper-left-set{
  position: relative;
  top: 5px;
  float: left;
  width: 32%;
  padding: 1%;
  background-color: #FFA726;
  border-radius:10px;
  height: 43%;
}

#down-left-set{
  position: absolute;
  bottom: 5px;
  float: left;
  width: 32%;
  padding: 1%;
  background-color: #8D6E63;
  border-radius:10px;
  height: 43%;
}

/* The Pop up for adding a new box - (The Modal) */
.dnd-modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.dnd-modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.dnd-close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.dnd-close:hover,
.dnd-close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
